@page
@model E_Commerce.Pages.ContactModel
@{
}
<div class="wrapper">
    <div class="title">
        Contact Us
    </div>
    <form method="post">
        <div class="field">
            <input type="text" name="Name" required>
            <label>Name</label>
        </div>
        <div class="field">
            <input type="email" name="Email" required>
            <label>Email</label>
        </div>
        <div class="field">
            <input type="text" name="Subject" required>
            <label>Subject</label>
        </div>
        <div class="field">
            <input type="text" name="Subject" required>
            <label>Phone Number</label>
        </div>
        <div class="field textarea">
            <textarea name="Message" rows="4" required></textarea>
            <label>Message</label>
        </div>
        <div class="field">
            <input type="submit" value="Send Message">
        </div>
    </form>
</div>
